/InboxMessage.class
/Message.class
/MessageDefault.class
/MessageUsingCreationalPatternBuilderPattern$MessageBuilder.class
/MessageUsingCreationalPatternBuilderPattern.class
/ReceivedMessage.class
/SentMessage.class
